body {
  background-color: #f4f4f4;
  font-family: 'Comfortaa', sans-serif;
}

nav {
  background-color: #f4f4f4;
}

.text-primary,
.link-primary {
  color: #991915 !important;
}

.bg-primary {
  background: #991915 !important;
  color: #f4f4f4 !important;
}

.timeline {
  border-left: 1px solid #991915;
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: #991915;
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}